.login-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Video*/
.background-video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.login-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.808);
    opacity: 0.96;
    z-index: 10;
    position: relative;
}

.login-container > h3 {
    font-size: 2.3vw;
}

.login-container > p {
    font-size: 1.3vw;
}

.login-buttons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    margin-top: -0.5rem;
}

.btn-margin {
    font-size: 1vw;
}