@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* Results page styling */
td {
	vertical-align: middle !important;
	text-align: center;
}

/* override boostrap img block display */
.img-responsive, .thumbnail a>img {
	display: inline-flex;
}

.image > img {
	width: 30vh;
	height: 30vh;
	margin: 0 auto;
}

.description > p:first-child {
	font-size: 2.5vw;
}

.description > p:nth-child(2) {
	font-size: 1.7vw;
}

#stars {
	height: 3.5vh;
}

#logo {
	height: 5.8vh;
}

/* review number style */
.description > p:last-child {
	color: gray;
	margin-bottom: 2%;
	font-size: 1.2vw;
}

#addbtn {
	font-size: 1.5vw;
}


/* Modal styling */
h4 {
	text-align: center;
}

form {
	margin-left: 8.5rem;	
	margin-top: 2.1rem;
	margin-bottom: 1rem;
}

input[type='radio'] {
	margin-bottom: 1.4rem;
	margin-right: 1rem;
}

#modal-header {
	background-color: rgba(64, 224, 208, 0.651);
}

#modal-title {
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 3.2rem;
	font-weight: bold;
}

#savebtn {
	background:#FF5A5F;
	border-top: 1px solid #FF5A5F;
	border-bottom: 1px solid #FF5A5F;
	color:white;
}


