@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* Results page styling */
td {
	padding-top: 2em;
	padding-bottom: 1em;
}

.description > p:first-child {
	font-size: 2.2em;
}

.description > p:nth-child(2) {
	font-size: 1.2em;
}

/* #addbtn {
	margin-right: 2em;
} */

.image {
	margin-left: 5em;
	border: 5px solid green;
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.description {
	margin-left: 6em;
	margin-right: 8em;
	border: 5px solid blue;
}

#addbtn {
	position: fixed;
    right: 20%;
    /* display: flex;
    justify-content: flex-end; */
    border: 5px solid purple;
}


/* review number style */
.description > p:last-child {
	color: gray;
	margin-bottom: 2%;
}


/* Modal styling */
h4 {
	text-align: center;
}

form {
	margin-left: 6em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

input[type='radio'] {
	margin-bottom: 1em;
	margin-right: 0.7em;
}

#modal-header {
	background-color: rgba(64, 224, 208, 0.651);
}

#modal-title {
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 2.3em;
	font-weight: bold;
}

#savebtn {
	background:#FF5A5F;
	border-top: 1px solid #FF5A5F;
	border-bottom: 1px solid #FF5A5F;
	color:white;
}


