/* to override the react-bootstrap navbar and close the gap btw the navbar and the other content */
.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    font-size: 2rem;
}

li > a {
    font-size: 1.5rem;
}