table {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    /* overflow: hidden; */
    background-color: rgba(245, 245, 245, 0.808);
    opacity:0.96;
    border: 3px solid red;
    position: relative;
}