/* need to set the height to 100vh so that we can move the form vertically */
.cover  {
    height: 100vh;
    width: 100%;
}

/*Video*/

/*Hack to get them to align properly */
/* in the form, for all elements where type is not date */
.flex-form > *:not([type="date"]) {
    border-top:1px solid white;
    border-bottom:1px solid white;
}

/* customizing search button */
.flex-form > button {
    background:#FF5A5F;
    border-top: 1px solid #FF5A5F;
    border-bottom: 1px solid #FF5A5F;
    color:white;
    border-radius: 5px;

}

/* making sure to put form in front of background video */
.flex-form {
    z-index: 10;
    position: relative;
}

/* for every element in the form */
.flex-form > * {
    border: 0;
    padding: 10px;
    background: white;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    outline: 0;
    border-right: 1px solid rgba(0,0,0,0.2);
    /* -webkit-appearance: none; */
}

/* taking off the border shadow from button */
.flex-form > *:last-child {
    border-right: 0;
}

/*Flexbox Starts Here*/
/* to center the form in the middle */
.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}
  
/* forms a gray border around the form */
.flex-form {
    display: flex;
    border: 20px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

.welcome {
    margin-left: 6%;
    z-index: 10;
}